.user-perfil {
  display: flex;
  flex-direction: column;
}

.user-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 22vh;

  margin-top: 2rem;
}

.user-link {
  cursor: pointer;

  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  text-align: center;

  color: #fff;
  text-transform: uppercase;

  width: 50vw;
  height: 2rem;
  background-color: var(--second-color);
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
}

.delete-link {
  margin-top: 2rem;
  background-color: #eb0c0c;
}

@media (min-width: 1000px) {
  .user-link {
    cursor: pointer;
    width: 30vw;
  }

  .user-link:hover {
    opacity: 0.75;
  }
}
