.car-view-images {
  display: flex;
  flex-wrap: wrap;

  width: 70vw;

  margin-bottom: 1rem;
}

.car-view-images .car-image {
  width: 10rem;
  height: auto;

  border-radius: 10px;
  border: 2px solid var(--primary-color);

  margin: 1rem 1rem;
}

.title-car {
  display: flex;
  justify-content: space-around;
}

.title-car .price {
  color: green;
}

h3.desc {
  margin: 1rem 0;
}

.description {
  display: flex;
  flex-direction: column;
}

.description .card-desc {
  display: flex;
  justify-content: space-around;

  background-color: #d6d5d5bd;
  border: 2px solid black;
  border-radius: 5px;

  width: 100%;
  height: 3rem;

  display: flex;
  margin-bottom: 1rem;
}

.description-text h2 {
  margin-bottom: 1rem;
}

.contact-owner .user-info {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.contact-owner .user-info .cell {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

@media (min-width: 1000px) {
  .car-view-images {
    width: 50vw;
  }

  .car-view-images .car-image {
    width: 15rem;
    height: auto;
  }

  .description .card-desc {
    width: 30vw;
  }

  .description .card-desc:hover {
    opacity: 0.75;
  }
}
