.preview-car-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80vw;
}

.preview-car-images img {
  width: 10rem;
  height: 10rem;

  margin: 0.25rem 0;

  border: 2px solid var(--primary-color);
  border-radius: 5px;
}

@media (min-width: 1000px) {
  .preview-car-images {
    width: 30vw;
  }
}