.cars-container {
  display: flex;
  flex-wrap: wrap;
}

.car-link {
  text-decoration: none;
  color: black;
}

.car-card {
  margin: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  width: 20rem;

  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px black;
}

.car-image {
  width: 100%;
  height: 15rem;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background: center;
  background-repeat: no-repeat;
  background-color: #414141;
  background-size: cover;
}

.car-infos {
  display: flex;
  justify-content: space-around;

  width: 100%;
  height: 7rem;
}

.car-infos .car-text {
  display: flex;
  flex-direction: column;
}

.car-infos .car-text * {
  margin: 0.25rem 0;
}

.car-infos .car-text h4 {
  font-style: italic;
}

.car-infos .car-text p {
  color: #1fbb27;
  font-weight: 700;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info p {
  font-style: italic;
  color: var(--second-color);
}
