footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: var(--third-color);

  width: 100vw;
}

footer img {
  width: 10rem;
}

footer p {
  font-style: italic;
  color: #fff;
}
