footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: var(--third-color);

  width: 100vw;
}

footer img {
  width: 10rem;
}

.social-medias {
  width: 10rem;
}

.social-medias p {
  color: #fff;
  margin-bottom: 1rem;
}

.social-medias cite {
  color: #fff;
}
