:root {
  --primary-color: #ff5c1d;
  --second-color: #3624db;
  --third-color: #2c2099;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  justify-content: center;
  align-items: center;
  text-align: center;

  scroll-behavior: smooth;
}

/* SETTERS */

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 1.15em;
}

h3 {
  font-family: "Roboto Condensed", sans-serif;
}

p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1.title {
  margin-bottom: 1rem;
}

.container {
  margin-top: 8rem;
  margin-bottom: 2rem;
}

.link {
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
}

.comeback {
  margin-top: 1rem;
}

.form-entry {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  text-align: left;
  padding: 0.25rem;

  border: 2px solid var(--second-color);

  width: 100%;
}

.form-entry::placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

/* FORM */

section.container-form {
  display: flex;
  flex-direction: column;
}

.form-container {
  width: 75vw;
  margin-bottom: 1rem;
}

.form-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  margin-top: 2rem;
}

.form-buttons p span {
  text-decoration: none;
  color: var(--second-color);
}

input,
textarea,
select {
  border-radius: 5px;
}

textarea {
  resize: none;
}

select,
select .option {
  height: 2rem;
}

input[type="submit"] {
  background-color: transparent;
  color: var(--second-color);
  border: 2px solid var(--second-color);

  width: 5rem;
  height: 1.5rem;

  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;

  transition: 0.3s;
}

input[type="submit"]:hover {
  background-color: var(--second-color);
  color: #fff;
}

button.delete-button {
  cursor: pointer;

  border-radius: 5px;
  background-color: transparent;
  color: #eb0c0c;
  border: 2px solid #eb0c0c;

  width: 100%;
  height: 1.5rem;

  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;

  transition: 0.3s;
}

button.delete-button:hover {
  background-color: #eb0c0c;
  color: #fff;
}

/* IMask */
.form-container .imask {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  text-align: left;
  padding: 0.25rem;

  border: 2px solid var(--second-color);

  width: 100%;
  height: 2rem;
}

.form-container .imask::placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

@media (min-width: 1000px) {
  input[type="submit"] {
    cursor: pointer;
    width: 7rem;
  }

  .form-container {
    width: 30vw;
  }

  select:hover {
    cursor: pointer;
  }
}
