section.header {
  position: fixed;
  top: 0;
  width: 100vw;

  background-color: var(--second-color);
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  box-shadow: 0px 0px 6px 0px black;
}

header img {
  width: 7rem;
}

header button {
  background: transparent;
  border: none;
}

header .button-header {
  width: 5rem;
}

.user-header {
  display: flex;
  flex-direction: column;
}

.user-header p {
  margin-top: -0.5rem;
  font-size: 12px;
  color: #fff;
}

span.link {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: row;
}

span.link p {
  margin-left: 0.25rem;
  font-weight: 700;
  text-decoration: none;
}

.navbar-header {
  display: flex;
  flex-direction: column;

  background-color: #000000bd;

  width: 100%;
  height: 3rem;

  box-shadow: 0px 0px 6px 0px black;
}

.navbar-header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

  list-style: none;
  text-decoration: none;
}

.navbar-header ul li .link {
  color: #fff;
  font-size: 0.85rem;
}
